h1{
    font-size: 32px;
}

.paragrafo{
    background-color: #5F9F9F ;
    border: 12px;
margin-top: -400px;
margin-left: 380px;
 width: 600px;
 height: 380px;
 text-align: center;
}

p{
    color: white;
    font-size: 24px;
}

.title{
    color:white;
    font-size: 32px;
}

.two{
    background-color:#5F9F9F;
    color: white;
    font-size: 16px;
    width: 300px;
    height: 50px;
    border-radius: 15px;
}

#login{
    background-color: white;
    margin-top: -20px;
    width: 380px;
    height: 370px;
    text-align: center;
    


}


body{
  background-color: #D9D9D9;
}

.email{
    font-size: 18px;
}

.senha{
    font-size: 18px;
    margin-top: 110px;
}

.one{
    margin-top: -150;

    font-size:18px ;
    margin-top: 125px;
   width: 300px;
   height: 50px;
    background-color: #5F9F9F;
    color: white;
    
}

