/* main */

.main-container{
    position: relative;
    display:flex;
    flex-direction: row-reverse;
    width: 340px;  
    height: calc(100dvh - 60px);
}

/* menu lateral */

.menu-bar{
    background-color: #d9d9d9;
    /* position: absolute; */
    z-index: 2;
    opacity: 1;
    width: 65px;
    height: 100%;
    text-align: center;
    box-shadow: 1px 1px 1px #7c7c7c;
    transition: ease-in-out 0.1s;
}

.menu-bar ul{
    padding: 4px 4px;
}

.menu-bar ul li{
    margin-bottom: 2px;
    font-size: 1.3em;
    box-shadow: 1px 1px 2px #000;
    border-radius: 2px;
}

.menu-bar ul li:hover{
    background-color: #c5c4c4;
}

.menu-bar ul li:active{
    background-color: #a09e9e;
}

.menu-bar ul li a i{
    padding: 10px 18px;
}

.menu-bar ul li a p{
    display: none;
    font-size: 0.5em;
}

/* conteudo principal */

.main-content{
    width: 100%;
    box-shadow: 1px 0px 1px #7c7c7c;
}

.main-content-on {
    width: calc(100% - 65px);
}

.hide{
    opacity: 0;
    pointer-events: none;
}

.none {
    display: none;
}