@media screen and (min-width: 700px) {
    /* container principal */
    .main-container{
        min-width: 700px;
        width: 100%;
    }

    /* menu lateral */

    .menu-bar{
        width: 220px;
        text-align: none;
        overflow-y: overlay;
    }
    
    .menu-bar ul li a{
        display: flex;
        padding: 15px 15px 15px 20px;
        align-items: center;
    }

    .menu-bar ul li a i{
        padding: 0 10px 0 0;
    }

    .menu-bar ul li:first-of-type a{
        padding-left: 5px;
    }

    .menu-bar ul li a p{
        display: block;
    }

    .fa-solid{
        padding-right: 10px;
    }

    /* section apenas estilizada */

    .main-content{
        width: 100%;
    }

    .main-content-on {
        width: calc(100% - 220px); 
    }
}