  /* cabeçalho */
.header-section{
    background-color: #5F9F9F;
    padding: 5px;
}
.header-section h2{
    color: #fff;
}
#map {
    height: 500px;
    width: 80%;
    margin-top: 20px;
}
#controls {
    margin: 20px;
}
#search-icon {
    cursor: pointer;
    margin-left: 10px;
}