.add{
    background-color: red;
    color:white;
    border-radius: 15px;
    width: 75px;
    height: 40px;
    padding-top: 4px;
    text-align: center;

}



.input1{
    width: 45px;
    height: 40px;
}


.title{
    background-color: #5F9F9F;
    color: white;
}


.sub-title{
    padding-top: 10px;
}

.input-class{
    padding-top: 12px;
    margin-top: 12px;
    padding: auto;
}

#file-upload {
    display: none;
}

.custom-file-upload {
    border: 1px solid;

    text-align: left;
    cursor: pointer;
    width: 60px;
    height: 35px;
    padding-top: -12%;
    font-size: 12px;
    padding: 12px 4px;
    margin-top: 12px;
    }

.driver{
  height: 40px;
  width: 60px;
}


.paragraph{
    font-size: 30px;
    border: 20px;
    background-color:#5F9F9F  ;
    color:white;
}