/* cabeçalho */

.init-header{
    background-color: #d9d9d9;
    display: flex;
    z-index: 1;
    width: 340px;
    height: 60px;
    box-shadow: 1px 1px 1px #7c7c7c;
}

/* titulo do cabeçalho */

.init-header h1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    padding: 8px 3px 8px 3px;
    font-size: 1.1em;
    text-align: center;
    vertical-align: baseline;
    box-shadow: 1px 0px 1px #7c7c7c;
}

/* menu superior */

.init-header nav{
    display: flex;
    width: 260px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 20px 10px;
}

/* botão para exebição do menu lateral */

.init-header button{
    background-color: rgba(0, 0, 0, 0);
    width: 40px;
    height: 40px;
    border: none;
    font-size: 2.05em;
    cursor: pointer;
}

/* lista de icone do lado direito no menu superior */

.init-header ul{
    display: flex;
    width: 70px;
    justify-content: space-between;
    align-items: center;
    font-size: 2.05em;
}

