*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
    color: #FFF;
}

@supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
  }