html{
    height: 100%;
}

body {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.main-page {
    display: flex;
    width: 300px;
    height: 510px;
    justify-content: center;
    align-items: center;
}

/*Tela inicial*/

.login-page,
.area-cadastro {
    padding: 20px;
}

.login-page {
    background-color: #69898a;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    text-align: center;
    padding: 110px 25px 40px 25px;
    box-shadow: 1px 1px 3px rgb(34, 18, 18);
}

.login-page p:nth-of-type(1) {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 60px;
    text-shadow: 1px 1px 1px #111c1d;
}

.bt-cadastro {
    text-shadow: 1px 1px 1px #111c1d;
}

.login-page p:nth-of-type(2) {
    font-weight: 200;
    font-size: 0.9em;
    margin-bottom: 40px;
}

.login-page p:nth-of-type(3) {
    font-weight: 200;
    font-size: 0.9em;
    margin-TOP: 40px;
}

.login-page a {
    font-weight: 700;
    text-decoration: none;
}

.login-page a:hover {
    color: rgba(255, 255, 255, 0.85);
}

.login-page a:active {
    color: rgba(255, 255, 255, 0.60);
}

.button-login {
    background-color: #FFF;
    width: 100%;
    height: 70px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2em;
    font-weight: bold;
    color: #000;
    box-shadow: 0px 1px 1px rgb(30, 31, 31);
}

.button-login:hover {
    background-color: #f0f0f0;
}

.button-login:active {
    background-color: #e4e4e4;
}

/*Tela de cadastro */

.icon-format {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
}

.fa-circle-chevron-left {
    font-size: 1.5em;
}

.fa-circle-chevron-left:hover {
    font-size: 1.55em;
}

.fa-circle-chevron-left:active {
    font-size: 1.45em;
}

.fa-solid {
    color: #000;
    padding-left: 5px;
}

.fa-solid:last-of-type {
    padding-right: 10px;
}

.area-cadastro {
    position: relative;
    background-color: #F0F8FF;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px rgb(184, 184, 230);
}

.area-cadastro p:nth-of-type(1) {
    color: #000;
    font-weight: 700;
    margin-bottom: 10px;
}

.area-cadastro p:nth-of-type(2) {
    color: #000;
    font-size: 0.8em;
    font-weight: 200;
    margin-bottom: 10px;
}

/*Campos do formulário*/

.form-grupo {
    display: flex;
    align-items: baseline;
    background-color: #D9D9D9;
    height: 38px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgb(128, 126, 126);
}

.form-grupo input {
    background-color: rgba(255, 255, 255, 0);
    width: 85%;
    height: 100%;
    padding: 10px 0;
    color: #000;
    border: none;
    outline: none;
}

.form-grupo:last-of-type input {
    width: 70%;
}

.form-grupo:first-of-type {
    margin-top: 15px;
}

.form-grupo i:first-of-type {
    width: 15%;
    padding: 0 10px;
}

.form-grupo i:last-of-type {
    width: 15%;
    padding: 0 10px;
}

.form-button {
    display: block;
    background-color: #446B6D;
    width: 60%;
    height: 38px;
    margin: auto;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgb(45, 82, 68);
}

.form-button:hover {
    background-color: #416264;
    color: #ececec;
}

.form-button:active {
    background-color: #3c5c5e;
    color: #e6e6e6;
}

.visible {
    display: block;
}

.hide {
    display: none;
}