/* cabeçalho */

.header-section{
    background-color: #5F9F9F;
    padding: 5px;
}

.header-section h2{
    color: #fff;
}

/* conteudo prinicipal */

.main-section{
    position: relative;
    padding: 10px;
}

.main-section > p {
    font-size: 0.95em;
}

/* Formulário */

.entrada-dados{
    display: flex;
    z-index: 1;
    top: 40px;
    left: 50px;
    position: absolute;
    justify-content: center;    
    align-items: center;
}

.entrada-dados-on {
    left: 20px;
}

.button-cadastro{
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    z-index: 2;
    top: 42px;
    left: 52px;
    border: none;
    cursor: pointer;
}

.button-cadastro-on {
    left: 22px;
}

.button-cadastro p {
    color: #FFF;
}

.button-cadastro-off{
    background-color: #FF2000;
    padding: 5px;
    border-radius: 16px;
    top: 22px;
    left: 10px;
    box-shadow: 1px 1px 1px #b3b3b3;
}

.button-cadastro-off:hover{
    background-color: #f32000;
}

.button-cadastro-off:active{
    background-color: #df1e00;
}

.button-cadastro:hover i{
    color: #2a2a2a;
}

.button-cadastro:active i{
    color: #3b3b3b;
}

.button-cadastro i{
    font-size: 1.4em;
}

.entrada-dados form{
    background-color: #D9D9D9;
    display: flex;
    z-index: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 280px;
    border-radius: 5px;
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 200px;
    padding: 4px;
    border-radius: 4px;
    font-size: 0.8em;
    cursor: pointer;
}   

.image i{
    text-align: center ;
}

.image input{
    display: none;
}

.campo{
    display: block;
    margin-bottom: 5px;
}

.campo:first-of-type{
    display: flex;
    justify-content: center;
}

.campo button{
    background-color: #FF2000;
    width: 180px;
    padding: 4px;
    border: none;
    border-radius: 4px;
    box-shadow: 1px 1px 1px #000;
    color: #fff;
    cursor: pointer;
}

.campo button:hover{
    background-color: #e71f01;
    color: #e9e9e9;
}

.campo button:active{
    background-color: #d61d00;
    color: #e0e0e0;
}

.campo input{
    background-color: #ffffff;
    width: 200px;
    padding: 4px;
    border: none;
    outline: none;
    border-radius: 4px;
    color: #000;
}

/* Tabela */

.saida-dados {
    width: 320px;
    height: calc(100dvh - 190px);
    margin-top: 60px;
    overflow-y: overlay;   
}

.saida-dados-on {
    width: 265px;
}

.section-saida {
    display: grid;
    grid-template-columns: 60px auto auto;
    grid-template-rows: repeat(7, 1fr, 1fr);
    grid-template-areas:
        "item1 item2 item9"
        "item1 item3 item3"
        "item10 item4 item4"
        "item10 item5 item6"
        ". item7 item7"
        ". item8 item8";

    align-items: center;
    gap: 10px;
    background-color: #f6f6f6;
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    padding: 5px 0 5px 0;
    box-shadow: 0px 0px 1px #7a7a7a;
    overflow-y: overlay;
}

.section-saida div p:first-of-type {
    font-weight: 700;
}

.item1 {
    grid-area: item1;
    width: 60px;
    height: 60px;
    margin-left: 5px;
}

.item2 {
    grid-area: item2;
}

.item3 {
    grid-area: item3;
}

.item4 {
    grid-area: item4;
}

.item5 {
    grid-area: item5;
}

.item6 {
    grid-area: item6;
}

.item7 {
    grid-area: item7;
}

.item8 { 
    grid-area: item8;
}

.item9 {
    grid-area: item9;
}

.item10 {
    position: relative;
    grid-area: item10;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    margin-left: 20px;
}

.item10 img {
    width: 100%;
    height: 100%;
}

.opcao {
    display: none;
    position: absolute;
    left: -10px;
    top: 0px;
    width: 40px;
    height: 50px;
    font-size: 0.75em;
    font-weight: 700;
}

.opcao p {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    width: 100%;
    height: 50%;
    box-shadow: 0px 0px 1px #000;
    border-radius: 1px;
    cursor: pointer;
}

.section-saida p {
    font-size: 0.7em;
}

/* rodapé */

.footer-section{
    padding: 5px;
}


.hide-main{
    display: none;
}
  
.formEditar {
    background-color: #D9D9D9;
    position: absolute;
    z-index: 2;
    top: 50px;
    width: 100%;
    height: calc(100% - 50px);
    padding: 0 10px;
    box-shadow: 0 0 1px #3b3b3b;
}

.formEditar-on {
    width: calc(100% - 65px);
}

.formImagem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.formImagem p {
    background-color: #fff;
    margin: 10px 0;
    padding: 5px;
    width: 100%;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #878787;
    cursor: pointer;
}

.formEditar input[type='text'] {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 3px;
    outline: none;
    padding: 5px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 1px #878787;
}

.formEditar button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #fff;
    display: block;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #878787;
    font-size: 1.2em;
    font-weight: 700;
    cursor: pointer;
}

.formEditar button:hover {
    background-color: #f4f4f4;
}

.formEditar button:active {
    background-color: #ececec;
}