.header-section {
    width: 100%;
}

.header-section h2 {
    background-color: #5F9F9F;
    color: white;
    padding: 10px 20px;
    width: 100%;
    height: min-content;
    text-align: left;
}

.main-section {
    position: relative;
    height: calc(100% - 60px);
    padding: 10px 20px;
}

.container-init {
    display: flex;
    align-items: center;
}

.container-init h3{
    width: 75%;
    max-width: 600px;
    font-size: calc(2vw + 0.5em);
    padding-right: 20px;
}

.container-img {
    margin-left: -20px;
    width: 25%;
    z-index: 2;
}

.container-img img {
    width: 100%;
    max-width: 140px;
}

.form-inquerito {
    width: 75%;
    position: relative;
    margin-top: -12px;
    margin-bottom: 40px;
}

.form-inquerito textarea {
    background-color: #D9D9D9;
    width: 100%;
    height: max-content;
    max-width: 600px;
    padding: 10px;
    margin-bottom: 5px;
    border: none;
    outline: none;
    border-radius: 10px;
    resize: none;
}

.form-inquerito button {
    background-color: #5F9F9F;
    display: block;
    position: absolute;
    left: 100%;
    transform: translate(-100%, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
}

.msg {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px;
}

.msg p {
    width: 70%;
    margin-top: 30px;
    text-align: center;
    font-weight: 700;
}

.contact-info {
    width: calc(100% - 40px);
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
}

.contact-info p {
    font-size: 0.9em;
    padding-bottom: 10px;
    text-align: center;
}

.contact-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-buttons button {
    background-color: #D9D9D9;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 3px;
}

.contact-buttons button:hover {
    background-color: #cacaca;
}

.contact-buttons button:active {
    background-color: #c0c0c0;
}

.contact-buttons button:nth-of-type(1) {
    margin-bottom: 10px;
}

.hidden{
    display: none;
}