.header-section {
    width: 100%;
}

.header-section h2 {
    background-color: #5F9F9F;
    color: white;
    padding: 10px 20px;
    width: 100%;
    height: min-content;
    text-align: left;
}

.main-section {
    padding: 10px 20px;
}

.container-init {
    display: flex;
    align-items: center;
}

.container-init h3{
    width: 75%;
    max-width: 600px;
}

.container-img {
    margin-left: -20px;
    width: 25%;
    z-index: 2;
}

.container-img img {
    width: 100%;
    max-width: 140px;
}

.form-inquerito {
    width: 75%;
    position: relative;
    margin-top: -12px;
    margin-bottom: 40px;
}

.form-inquerito textarea {
    background-color: #D9D9D9;
    width: 100%;
    height: max-content;
    max-width: 600px;
    padding: 10px;
    margin-bottom: 5px;
    border: none;
    outline: none;
    border-radius: 10px;
    resize: none;
}

.form-inquerito button {
    background-color: #5F9F9F;
    display: block;
    position: absolute;
    left: 100%;
    transform: translate(-100%, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
}