html, body{
    height: 99%;
    width: 99%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}


.button{
    color:white;
    background-color: red;
    font-size: 16px;
    padding: 16px;
    border-radius: 4px;
    border: none;
    box-shadow: 1px 1px 1px #000, -1px -1px 1px #0000ff;
    text-shadow: 1px 1px 1px #000;
}

.button:hover{
    background-color: yellow;
    transition-delay: 500ms;
    transition-property: background-color;

}
