  /* cabeçalho */
  .header-section{
    background-color: #5F9F9F;
    padding: 5px;
}
.header-section h2{
    color: #fff;
}
#map-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#map {
    width: 500px;
    height: 300px;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}
#controls {
    margin: 20px;
}
#search-icon {
    cursor: pointer;
}

.busca {
    display: flex;

    width: 140px;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
}

.busca input {
    width: 110px;
    padding-left: 5px;
    border: none;
    outline: none;
}
.leaflet-routing-alt {
    display: none;
}